<% content_for(:title, "Knowledge Base" ) %>
<div class="head-row">
  <div class="jumbotron">
    <h1>Welcome to KnowledgeABLE</h1>
    <div class="welcome-create">
      <p>Create a personalized account now to start managing your Posting to the Knowledge Base</p>
    </div>
  </div>
</div>
