@import "sass_styles.scss";

.feedback-submit {
  margin-top: .8em;
}
.jumbotron {
  margin: 1.5em 0 !important;
  background-color: $button-sec !important;
  @include rounded-corners(.4em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h1,h2,h3,h4 {
    color: black;
  span {
    color: $cardinal;
  }
  }
}

.user-greeting {
  margin: .75em;
  color: $cardinal;
}